* {
    font-family: 'Poppins';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}


header {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
}

.logo {
    font-size: 1.3rem;
}

.hide-mobile, .show-laptop, .show-tablet, .show-desktop {
    display: none;
}

.hamburger-menu {
    list-style-type: none;
    position: fixed;
    top: 0;
    right: -1200px;
    background-color: white;
    height: 100vh;
    width: 50vw;
    box-shadow: 0px 0px 5px black;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 38px;
    text-align: center;
}

.hamburger-menu li a {
    text-decoration: none;
    color: black;
}

.hero-container {
    margin-top: 250px;
    display: flex;
    flex-direction: column-reverse;
    
}

.profile-image-container {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 8rem;
    margin-bottom: 20px;
}

.show-phone {
    text-align: center;
    font-size: 2rem;

}

.show-phone span {
    font-weight: bold;
}

.show-tablet, .show-desktop {
    display: none;
}

.socials-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.social-button {
    width: 3rem;
}

.resume-button {
    width: 7rem;
}

.about-container {
    margin-top: 100px;
}

.about-container h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.about-intro .phone-intro {
    text-align: center;
    font-size: light;
    line-height: 38px;
}

.tablet-intro {
    display: none;
}
.about-academic-achievements {
    margin-top: 100px;
    
}

.about-academic-achievements h3 {
    padding-left: 50px;
    margin-bottom: 20px;
}

.about-academic-achievements .phone-about-list {
    padding-left: 65px;
    line-height: 38px;
    margin-bottom: 100px;
}

.tablet-about-list {
    display: none;
}
.about-skills-achievements h3 {
    padding-left: 50px;
}

.about-skills-achievements ul {
    padding-left: 65px;
    line-height: 38px;
    margin-top: 20px;
}

.contact-me-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;
}

.contact-me-section h2 {
    font-weight: 900;
    font-size: 2rem;
}

.contact-button {
    width: 8rem;
}

@media (min-width: 744px){
    .hamburger-menu {
        list-style-type: none;
        position: fixed;
        top: 0;
        right: -1200px;
        background-color: white;
        height: 100vh;
        width: 50vw;
        box-shadow: 0px 0px 5px black;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 70px;
    
    }

    .hamburger-menu img {
        width: 2.5rem;
    }

    header {
        padding-right: 40px;
        padding-left: 35px;
        padding-top: 25px;   
    }

    .logo {
        font-size: 2rem;
    }

    .hamburger-icon {
        width: 2rem;
    }

    .profile-image {
        width: 13rem;
        margin-top: 100px;
    }

    .show-phone, .show-desktop {
        display: none;
    }

    .show-tablet {
        display: block;
        text-align: center;
        font-size: 3rem;
        margin-top: 10px;
    }

    .show-tablet span {
        font-weight: bold;
    
    }

    .social-button {
        width: 5rem;
    }

    .resume-button {
        width: 9.5rem
    }

    .socials-button-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about-container {
        margin-top: 150px;
    }

    .about-container h2 {
        font-size: 3rem;
    }

    .phone-intro {
        display: none;
    }

    .tablet-intro {
        display: block;
        font-size: 1.3rem;
        line-height: 60px;
        text-align: center;
        padding: 0px 35px;
    }

    .about-academic-achievements h3 {
        padding-left: 52px;
        font-size: 1.8rem;
    }

    .phone-about-list {
        display: none;
    }

    .tablet-about-list {
        display: block;
    }
    .about-academic-achievements .tablet-about-list {
        padding-left: 75px;
        line-height: 60px;
        font-size: 1.3rem;
    }

    .about-skills-achievements h3 {
        font-size: 1.8rem;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .about-skills-achievements ul {
        line-height: 60px;
        font-size: 1.3rem;
        padding-left: 75px;
    }

    .contact-me-section h2 {
        font-size: 3rem;
    }

    .contact-me-section img {
        width: 12rem;
    }

    .contact-me-section {
        margin-bottom: 100px;
    }



    
}

@media (min-width: 1280px){
    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: block;
    }

    .hide-mobile ul {
        display: flex;
        list-style-type: none;
        gap: 130px;
        font-size: 1.4rem;
    }

    .hide-mobile ul li a {
        text-decoration: none;
        color: black;
    }

    header {
        padding-left: 100px;
        padding-right: 200px;
        display: flex;
        align-items: center;
    }

    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 250px;
        
    }

    

    .socials-button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-top: 25px;
    }

    .social-button {
        width: 5.313rem;
    }

    .resume-button {
        width: 12.313rem;
    }

    .show-desktop, .show-phone, .show-tablet {
        display: none;
    }

    .show-laptop {
        text-align: center;
        font-size: 4rem;
        line-height: 100px;
    }

    .show-laptop span {
        font-weight: bold;
    }

    .show-laptop {
        display: block;
    }

    .laptop-academic-heading {
       margin-left: 86px;
    }

    .phone-about-list, .tablet-about-list {
        display: none;
    }

    .laptop-about-list {
        margin-left: 160px;
        line-height: 60px;
        font-size: 1.3rem;
    }

    .about-skills-achievements h3 {
        margin-left: 80px;
    }

    .about-skills-achievements ul {
        margin-left: 80px;
    }

}

